<table width="100%" class="newsletter_bild_text" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td style="height: 10px !important;" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="40%" class="textbox">
      <div class="textboxplaintext">
        <span><br/>
          {{i18n.history.orderDate}}: {{orderDate}}<br/>
          {{i18n.history.orderId}}: {{orderId}}<br/>
          {{i18n.history.orderReference}}: {{orderReference}}
        </span>
      </div>&nbsp;
    </td>
    <td width="60%" class="textbox">
      <div class="textboxheader" align="right">
        <span>{{i18n.history.orderPriceIncludingTaxes}}: {{priceIncludingTaxes}}</span>
      </div>
      <div class="textboxplaintext" align="right">
        <span>{{i18n.history.orderPriceWithoutTaxes}}: {{priceWithoutTaxes}}<br/>
          {{i18n.taxes}}: {{taxes}}<br/>
          {{i18n.shippingCosts}}
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td style="height: 10px !important;" colspan="2">&nbsp;</td>
  </tr>
  </tbody>
</table>
