<header class="order__header">
  <h3 class="order__vendor">{{i18n.vendor}}: <em>{{brandName}}</em></h3>
  <div class="order__status">{{i18n.status}}: <em>{{status}}</em></div>
  <div class="order__id">{{i18n.history.orderId}}: <em>{{sapId}}</em></div>
</header>
