<table width="100%" id="footer" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td class="footer_text" width="40%">
      <div>
        <p>
          <strong>{{i18n.email.signature.company}}</strong><br/>
          {{i18n.email.signature.street}}<br/>{{i18n.email.signature.city}}
        </p>
        <p>{{i18n.email.signature.fon}}<br/>
          {{i18n.email.signature.fax}}<br/>
          <a href="mailto:{{i18n.email.signature.email}}">{{i18n.email.signature.email}}</a><br/>
          <a href="http://{{i18n.email.signature.url}}">{{i18n.email.signature.url}}</a>
        </p>
      </div>
    </td>
    <td width="20%">&nbsp;</td>
    <td class="footer_text" width="40%">
      <div>
        <p>
          <br>
          {{i18n.email.footer.contactperson}}<br/>
          {{i18n.email.footer.picturesource}}<br/>
        </p>
        <p>
          {{{i18n.email.footer.text}}}
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td height="60" align="center" id="footer_nav" colspan="3">
      <div>
        <a href="http://www.wirtgen-group.com/" target="_blank">Wirtgen&nbsp;Group</a> /&nbsp;
        <a href="http://www.wirtgen.de/" target="_blank">Wirtgen</a> /&nbsp;
        <a href="http://www.voegele.info/" target="_blank">Vögele</a> /&nbsp;
        <a href="http://www.hamm.eu/" target="_blank">Hamm</a> /&nbsp;
        <a href="http://www.kleemann.info/">Kleemann</a> /&nbsp;
        <a href="http://www.benninghoven.com/">Benninghoven</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
