<table width="100%" class="text-einspaltig" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td height="60" class="tableheader" width="40%">
      <div class="tableheadline">
        <span>{{i18n.vendor}}: {{vendorName}}</span>
      </div>
    </td>
    <td height="60" class="tableheader" width="60%">
      <div class="tablesubheadline" align="right" style="padding-right:20px;">
        <span>{{i18n.price}}: {{vendorPriceIncludingTaxes}}&nbsp;&nbsp;</span>
      </div>
    </td>
  </tr>
  <tr class="spacer"><td></td></tr>
  <tr>
    <td class="textbox" colspan="2">
      <div class="textboxplaintext">
        <span>{{i18n.deliveryAdress}}: {{deliveryAddress}}</span>
      </div>
      <div class="textboxplaintext">
        <span><br/>
          {{i18n.history.orderId}}: {{sapOrderId}}<br/>
          {{i18n.deliveryType}}: {{deliveryType}}<br/>
          {{i18n.costCenter}}: {{costCenter}}<br/>
          {{i18n.internalOrder}}: {{internalOrder}}<br/>
          {{i18n.partialDelivery}}: {{partialDelivery}}<br/>
          {{i18n.message}}: {{message}}<br/>
        </span>
      </div>&nbsp;
    </td>
  </tr>
  <tr>
    <td style="height: 10px !important;" colspan="2"></td>
  </tr>
  </tbody>
</table>

<br/>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <td class="textboxsmall">
      <div class="textboxplaintext" style="font-weight: bold"><span>{{i18n.productNo}}</span></div>
    </td>
    <td class="textboxsmall">
      <div class="textboxplaintext" style="font-weight: bold"><span>{{i18n.title}}</span></div>
    </td>
    <td class="textboxsmall">
      <div class="textboxplaintext" align="center" style="font-weight: bold"><span>{{i18n.quantity}}</span></div>
    </td>
    <td class="textboxsmall">
      <div class="textboxplaintext" align="center" style="font-weight: bold"><span>{{i18n.unit}}</span></div>
    </td>
    <td class="textboxsmall">
      <div class="textboxplaintext" align=right style="font-weight: bold"><span>{{i18n.unitPrice}}</span></div>
    </td>
    <td class="textboxsmall">
      <div class="textboxplaintext" align="right" style="font-weight: bold"><span>{{i18n.priceTotal}}</span></div>
    </td>
  </tr>
  </thead>
  <tbody>
  {{#orderEntries}}
    <tr>
      <td class="textboxsmall">
        <div class="textboxplaintext"><span>{{code}}</span></div>
      </td>
      <td class="textboxsmall">
        <div class="textboxplaintext"><span>{{name}}</span></div>
      </td>
      <td class="textboxsmall">
        <div class="textboxplaintext" align="center"><span>{{quantity}}{{!type:Long}}</span></div>
      </td>
      <td class="textboxsmall">
        <div class="textboxplaintext" align="center"><span>{{unit}}</span></div>
      </td>
      <td class="textboxsmall">
        <div class="textboxplaintext" align="right"><span>{{unitPrice}}</span></div>
      </td>
      <td class="textboxsmall">
        <div class="textboxplaintext" align="right"><span>{{totalPrice}}</span></div>
      </td>
    </tr>
  {{/orderEntries}}
  </tbody>
</table>
<br/>
