<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td id="htmlversion">
      <div>{{{email.webversion}}}</div>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" class="header" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td class="headerLogo"><img src="cid:kopfgrafik" width="577" height="58" border="0">
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td><img src="cid:newsletter_keyvisual_s" width="577" height="269" border="0"></td>
  </tr>
  </tbody>
</table>
<br/>
