<meta charset="UTF-8">
<link rel="stylesheet" href="../../css/email.css">
<html>
  <body>
    <h1> Neue C4C Prüfungen online!</h1>
    <div>
      <p><div>brandaktuell liefert die SAP zwei Aktualisierungen zu einigen SAP Hybris C4C Prüfungen. Die Prüfungen waren bis vor kurzem noch auf dem Stand von 2015 und wurden jetzt aktualisiert.</div></p><br>

      <li>C_C4C30_1711 – SAP Certified Development Associate</li><br>
      <li>C_C4C50_1711 – SAP Certified Integration Associate</li><br><br>

      <p><div>Des Weiteren hat SAP angekündigt demnächst die Kursunterlagen für alle C4C Schulungen auf das Release 1711 zu heben sowie eine neue „Stay Current Learning Map“ for SAP C4C 1802 anzubieten.
      Nähere Informationen dazu findet Ihr  wie immer auch im SAP Hybris Wiki unter <a href="https://wiki.hybris.com/x/ZIkNFg">https://wiki.hybris.com/x/ZIkNFg</a> oder ganz klar auch im Synet - C4C Zertifizierungen</div>

      <p>Viele Grüße und einen schönen Feierabend
      <br>Carola Henze
    </div>
  </body>
</html>
